## **Handling Missing Values**

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [31]:
df = pd.read_csv('Churn_Modelling.csv')

In [53]:

# Make sure 'age' column exists
if "Age" not in df.columns:
    raise ValueError("The file does not contain an 'age' column.")

# Randomly pick 287 unique row indices
indices_to_null = np.random.choice(df.index, size=287, replace=False)

# Set 'age' values at those indices to NaN
df.loc[indices_to_null, "Age"] = np.nan

# Save the modified file
df.to_csv("Churn_Modelling.csv", index=False)

print(f"Set {len(indices_to_null)} 'age' values to null. Saved as Churn_Modelling.csv")

# Randomly pick 123 unique row indices
indices_to_null = np.random.choice(df.index, size=123, replace=False)

# Set 'Gender' values at those indices to NaN (empty)
df.loc[indices_to_null, "Gender"] = np.nan

# Save back to the same file
df.to_csv("Churn_modelling.csv", index=False)

print(f"Set {len(indices_to_null)} 'Gender' values to empty and overwrote foobar.csv")

Set 287 'age' values to null. Saved as Churn_Modelling.csv
Set 123 'Gender' values to empty and overwrote foobar.csv

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           9877 non-null   object
 6   Age              9433 non-null   float64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

#### The second way of finding whether we have null values in the data is by using the isnull() function.

In [41]:
print(df.isnull().sum())

RowNumber            0
CustomerId           0
Surname              0
CreditScore          0
Geography            0
Gender             123
Age                567
Tenure               0
Balance              0
NumOfProducts        0
HasCrCard            0
IsActiveMember       0
EstimatedSalary      0
Exited               0
dtype: int64

## Handling Missing Values

***1. Deleting the columns with missing data***

In [ ]:
updated_df = df.dropna(axis=1)
updated_df.info()

# just drops the whole column
# not wise in this situation because only 3% of this column was null

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Tenure           10000 non-null  int64
 6   Balance          10000 non-null  float64
 7   NumOfProducts    10000 non-null  int64
 8   HasCrCard        10000 non-null  int64
 9   IsActiveMember   10000 non-null  int64
 10  EstimatedSalary  10000 non-null  float64
 11  Exited           10000 non-null  int64
dtypes: float64(2), int64(8), object(2)
memory usage: 937.6+ KB

The problem with this method is that we may lose valuable information on that feature, as we have deleted it completely due to some null values.

Should only be used if there are too many null values.

***2. Deleting the rows with missing data***

In [44]:
updated_df2 = df.dropna(axis=0)
updated_df2.info()

# this deletes the ROWS with null values, not the column.

<class 'pandas.core.frame.DataFrame'>
Index: 9315 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        9315 non-null   int64
 1   CustomerId       9315 non-null   int64
 2   Surname          9315 non-null   object
 3   CreditScore      9315 non-null   int64
 4   Geography        9315 non-null   object
 5   Gender           9315 non-null   object
 6   Age              9315 non-null   float64
 7   Tenure           9315 non-null   int64
 8   Balance          9315 non-null   float64
 9   NumOfProducts    9315 non-null   int64
 10  HasCrCard        9315 non-null   int64
 11  IsActiveMember   9315 non-null   int64
 12  EstimatedSalary  9315 non-null   float64
 13  Exited           9315 non-null   int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

In this case, there are possibilities of getting better accuracy than before. This might be because the columns contains more valuable information than we expected.

***3. Filling the Missing Values – Imputation***

In this case, we will be filling the missing values with a certain number.

The possible ways to do this are:

- Filling the missing data with the mean or median value if it’s a numerical variable.
- Filling the missing data with mode if it’s a categorical value.
- Filling the numerical value with 0 or -999, or some other number that will not occur in the data. This can be done so that the machine can recognize that the data is not real or is different.
- Filling the categorical value with a new type for the missing values.

In [48]:
df['Age'].mean()

np.float64(38.91190501431146)

In [47]:
df['Age'].median()

np.float64(37.0)

In [51]:
#fillna: fills the null records
#dropna: drops the null records
df['Age']=df['Age'].fillna(df['Age'].mean())

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           9877 non-null   object
 6   Age              10000 non-null  float64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

***4. Forward & Backward Filling – Imputation***

In [54]:
# this means than populate the null value with whatever value follows right before or after it.
df = pd.read_csv('Churn_Modelling.csv')

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           9755 non-null   object
 6   Age              9713 non-null   float64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

In [56]:
df1 = df

df1['Age'] = df1['Age'].bfill()

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           9755 non-null   object
 6   Age              10000 non-null  float64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

In [ ]:
# .bfill()
# .ffill()

# backfill and forward fill